.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:#6a5e60;
    color:white;
}

.logo{
    font-size:28px;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:25px;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
}

.navbar a:hover{
    color:#ffd700;
}

.active{
    border-bottom:3px solid white;
    padding-bottom:5px;
}

@media(max-width:768px){

.navbar{
flex-direction:column;
gap:20px;
}

.navbar ul{
flex-wrap:wrap;
justify-content:center;
}

}